Это **#1** лабораторная работа по предмету *"Принципы Программирования 2".*

Студента: **Айбасов Даниал Елнарович**

# Intro

In [1]:
print("Hello Wordl")

Hello Wordl

In [2]:
#This is comment

In [3]:
print("Hello, World!") #This is a comment

Hello, World!

In [4]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [6]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [8]:
x = 5
y = "Hello, World!"

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [10]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [11]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z,sep = "\n")

3
3
3.0

In [12]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
x = "John"
# is the same as
x = 'John'

In [14]:
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

In [15]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [16]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [17]:
myVariableName = "John" #Camel
MyVariableName = "John" #Pascal
my_variable_name = "John" #Snake

In [18]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [19]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [20]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python Data Types
- Text Type:	`str`

- Numeric Types:	`int,` `float`, `complex`

- Sequence Types:	`list`, `tuple`, `range`

- Mapping Type:	`dict`

- Set Types:	`set`, `frozenset`

- Boolean Type:	`bool`

- Binary Types:	`bytes`, `bytearray`, `memoryview`

- None Type:	`NoneType`

In [1]:
x = 5
print(type(x))

<class 'int'>

In [8]:
print(type(20.5))
print(type(1j))
print(type(["apple", "banana", "cherry"]))
print(type(("apple", "banana", "cherry")))
print(type(range(6)))
print(type({"name" : "John", "age" : 36}))
print(type({"apple", "banana", "cherry"}))
print(type(frozenset({"apple", "banana", "cherry"})))
print(type(True))
print(type(b"Hello"))
print(type(bytearray(5)))
print(type(memoryview(bytes(5))))
print(type(None))

<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

# Python Number

There are three numeric types in Python:

- `int`
- `float`
- `complex`

In [9]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

### `INT`

In [11]:
# INT

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### `Float`

In [12]:
# Float

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [13]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### `Complex`

In [14]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Type Conversion

In [15]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Random Number

In [17]:
import random

print(random.randrange(1, 10))

8

# Python Casting

In [20]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [21]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [22]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings

In [23]:
print("Hello")
print('Hello')

Hello
Hello

In [24]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [25]:
a = "Hello"
print(a)

Hello

In [26]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [27]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

In [28]:
a = "Hello, World!"
print(a[1])

e

In [31]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### String Length

In [32]:
a = "Hello, World!"
print(len(a))

13

### Check String

In [33]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [34]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [35]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [36]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python Boolean Values

In [37]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [38]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [39]:
print(bool("Hello"))
print(bool(15))

True
True

In [40]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True

Almost any value is evaluated to `True` if it has some sort of content.

Any string is `True`, except empty strings.

Any number is `True`, **except 0.**

Any `list, tuple, set`, and dictionary are `True`, except `empty` ones.

In [42]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [43]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [44]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Functions can Return a Boolean

In [45]:
def myFunction() :
  return True

print(myFunction())

True

In [46]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [47]:
x = 200
print(isinstance(x, int))

True